.button{
    border: 4px ;
    width: 190px;
height: 65px;
background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
padding: 19px 28px;
font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 27px;
 color: white;
}
.anchor a{
    color: blue;
    margin-left: 30px;
}